<h1><%= @project.name %> > Editing Table</h1>

<%= render 'form' %>


<%= link_to 'Back', project_tables_path(@project), class: "btn btn-default" %>
<%= link_to 'Show', project_table_path(@project,@table) , class: "btn btn-success"%>